.c3 svg{font:10px sans-serif;-webkit-tap-highlight-color:transparent}.c3 line,.c3 path{fill:none;stroke:#000}.c3 text{-webkit-user-select:none;-moz-user-select:none;user-select:none}.c3-bars path,.c3-event-rect,.c3-legend-item-tile,.c3-xgrid-focus,.c3-ygrid{shape-rendering:crispEdges}.c3-chart-arc path{stroke:#fff}.c3-chart-arc text{fill:#fff;font-size:13px}.c3-grid line{stroke:#aaa}.c3-grid text{fill:#aaa}.c3-xgrid,.c3-ygrid{stroke-dasharray:3 3}.c3-text.c3-empty{fill:gray;font-size:2em}.c3-line{stroke-width:1px}.c3-circle._expanded_{stroke-width:1px;stroke:#fff}.c3-selected-circle{fill:#fff;stroke-width:2px}.c3-bar{stroke-width:0}.c3-bar._expanded_{fill-opacity:.75}.c3-target.c3-focused{opacity:1}.c3-target.c3-focused path.c3-line,.c3-target.c3-focused path.c3-step{stroke-width:2px}.c3-target.c3-defocused{opacity:.3!important}.c3-region{fill:#4682b4;fill-opacity:.1}.c3-brush .extent{fill-opacity:.1}.c3-legend-item{font-size:12px}.c3-legend-item-hidden{opacity:.15}.c3-legend-background{opacity:.75;fill:#fff;stroke:#d3d3d3;stroke-width:1}.c3-title{font:14px sans-serif}.c3-tooltip-container{z-index:10}.c3-tooltip{border-collapse:collapse;border-spacing:0;background-color:#fff;empty-cells:show;-webkit-box-shadow:7px 7px 12px -9px #777;-moz-box-shadow:7px 7px 12px -9px #777;box-shadow:7px 7px 12px -9px #777;opacity:.9}.c3-tooltip tr{border:1px solid #CCC}.c3-tooltip th{background-color:#aaa;font-size:14px;padding:2px 5px;text-align:left;color:#FFF}.c3-tooltip td{font-size:13px;padding:3px 6px;background-color:#fff;border-left:1px dotted #999}.c3-tooltip td>span{display:inline-block;width:10px;height:10px;margin-right:6px}.c3-tooltip td.value{text-align:right}.c3-area{stroke-width:0;opacity:.2}.c3-chart-arcs-title{dominant-baseline:middle;font-size:1.3em}.c3-chart-arcs .c3-chart-arcs-background{fill:#e0e0e0;stroke:none}.c3-chart-arcs .c3-chart-arcs-gauge-unit{fill:#000;font-size:16px}.c3-chart-arcs .c3-chart-arcs-gauge-max,.c3-chart-arcs .c3-chart-arcs-gauge-min{fill:#777}.c3-chart-arc .c3-gauge-value{fill:#000}

body { background: #2A363B; }
#guide > .pusher > .full.height { display: flex; }
#guide > .pusher > .full .toc { width: 210px; position: relative; z-index: 1; background-color: #1b1c1d; -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }
#guide > .pusher > .full.height .article { width: 100%; padding: 0 20px; background: #2A363B; }
h2.section { color: #fff; }
.ui.header { border: none; margin: 0; padding: 0 0; font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif; font-weight: 700; line-height: 1.2em; padding: 30px 0 6px; }
h1.ui.header { color: #fff; }
/*.ui.grid .row p { font-weight: bold; font-size: 16px; padding: 10px 0 0 10px; }*/
input[type='text'] { width: 80px; color: #4ECDC4; }
input.data, input.yAxis_0, input.yAxis_1, input.yAxis_2, input.yAxis_3, input.yAxis_4, input.tooltip_custom { width: 250px; }
.sub.header { display: block; font-weight: 400; padding: 0; margin: 0; font-size: 1rem; line-height: 1.2em; color: #99B898; padding-bottom: 40px; }
.viewGraph { background: #fff; }
.inputForm { /*height: 470px; overflow-y: auto;*/ background: #343838; color: #fff; position: relative; }
.inputForm .ui { color: #fff; }
.inputForm > .row { margin-bottom: 5px; }
.buttonBox {text-align: center;}
.update { position: relative; z-index: 100000; width: 200px; margin: 0 auto; display: inline-block; }
.codeView { background: #f1f1f1; word-break: break-all; padding: 20px; }
.ui.checkbox label, .ui.checkbox + label { color: #fff; }
.ui.checkbox .box, .ui.checkbox label { cursor: pointer; }
.ui.checkbox { margin-right: 10px; }
.usage { background: #fff; padding: 0 30px 30px; width: 100%; }
.usage p { color: #000 !important; }
/*.options { background: #fff; }*/
b { background-color: rgba(0, 0, 0, 0.06); color: #276f86; padding: 1px 4px 3px; }
b.returnValue { position: absolute; top: 11px; right: 30px; padding: 1px 10px 3px; }
.ui.message p { margin: 0; }

#example .example { margin: 2em 0em; padding: 2em 0em; position: relative; -webkit-tap-highlight-color: transparent; }
#example .intro .example .anchor + p { margin-top: 0.5em; font-weight: normal; }
#example .no.example .anchor + p { margin: 0em 0px 1em; padding-bottom: 0em; }
#example .main.container .introduction p, #example .main.container .tab > p, #example .main.container .example > p, #example .main.container > p { font-size: 16px; line-height: 1.5; color: rgba(0, 0, 0, 0.8); font-weight: normal; }

.thumbnail {  }
.empty {}
.thumb { background: #2A363B; text-align: center; color: #fff; }
.thumb img { width: 100%; border: 2px solid #000; -webkit-box-shadow: 0px 0px 60px 5px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 60px 5px rgba(0,0,0,0.75); box-shadow: 0px 0px 60px 5px rgba(0,0,0,0.75);}

/* chart style */
.lineChart .c3-tooltip-container { background-color: #fff; border: 1px solid #ddd; border-radius: 10px; padding: 4px 16px 6px; }
.lineChart .tooltip-custom { font-size: 12px; }
.lineChart .tooltip-custom span { color: red; }
.chartBox { padding: 60px 20px; box-sizing: border-box; }

input.svgWidth { width: 114px; }
input.svgHeight { width: 115px; }
input.svgBackgroundColor { width: 249px;  }
input.data { width: 258px; }
input.dataLabel_up { width: 68px; }
input.dataLabel_down { width: 68px; }
input.axis_y_count { width: 50px; }
input.dataLabelDiv { width: 70px; }
input.axis_y_max { width: 99px; }
input.axis_y_min { width: 99px; }
input.axis_x_color { width: 112px; }
input.axis_y_color { width: 112px; }
input.axis_x_tick_line { width: 88px; }
input.axis_y_tick_line { width: 88px; }
input.axis_x_font_size { width: 78px; }
input.axis_x_font_color { width: 95px; }
input.axis_y_font_size { width: 78px; }
input.axis_y_font_color { width: 95px; }
input.axis_x_positionY { width: 69px; }
input.axis_y_positionY { width: 69px; }
input.axis_x_tick_line { width: 88px; }
input.axis_y_tick_line { width: 88px; }
input.axis_x_tick_line { width: 88px; }
input.axis_y_tick_line { width: 88px; }
input.dataLabelFontSize { width: 79px; }
input.pointFillColor { width: 92px; }
input.regions_start { width: 68px; }
input.regions_end { width: 68px; }
input.colorPattern { width: 219px; }
input.pointRad { width: 52px; }
input.pointExpandRate { width: 58px; }
input.gridLineColor { width: 184px; }
input.format { width: 218px; }
input.rectOddColor { width: 183px; }
input.rectEvenColor { width: 180px; }
input.dasharrayX { width: 58px; }
input.dasharrayY { width: 58px; }

.c3 .c3-tooltip-container {padding:10px; box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3); background:#fff;}

/*.pieLabel { fill: #000!important; }*/
